<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
<div class="padding">
        <button class="button" ng-click="mostrarMensaje('Hola', 'top', true,2500)">hacele click!</button>
        <button class="button" ng-click="mostrarMensaje('Mundo', 'middle', false,2500)">hacele click!</button>
        <button class="button" ng-click="mostrarMensaje('IONIC', 'bottom', true,2500)">hacele click!</button>
    </div>

    </ion-list>
  </ion-content>
</ion-view>
