  <ion-view title="tabMenu-Paises">

      <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      </ion-nav-buttons>
      <ion-content has-header="true" padding="true">

        <h3>Listados de paises</h3>
         <label class="item item-input item-floating-label">
    <span class="input-label">Busqueda</span>
    <input type="text" placeholder="Busqueda..." ng-model="busqueda">

  </label>
          
        <div class="list card">
         <center><ion-spinner ng-show="mostrarSpin=='si'" icon="ripple"></ion-spinner></center>

            <a  class="item item-icon-left" ui-sref="tabMenu.mostrarPais({nombrePais:pais.name})" ng-repeat="pais in listado|filter: busqueda as resultado">
             
              <h1>{{pais.name}}</h1>
              <h2>capital: {{pais.capital}}</h2>
               <h4>nombre nativo: {{pais.nativeName}}</h4>
              <p>poblacion: {{pais.population}}</p>
               <p>región: {{pais.region}},subRegión: {{pais.subregion}}  </p>
            </a>
         

        </div>
      </ion-content>

    
    </ion-view>