<ion-view view-title="{{titulo}}">
  <ion-content>
    <label class="item item-input">
  <span class="input-label">Apellido</span>
  <input type="text">
</label>
<label class="item item-input">
  <span class="input-label">Nombre</span>
  <input type="text">
</label>
<label class="item item-input">
  <span class="input-label">Número de documento</span>
  <input type="number">
</label>
<label class="item item-input">
  <span class="input-label">Legajo</span>
  <input type="number">
</label>
<label class="item item-input">
  <span class="input-label">Fecha de Nacimiento</span>
  <input type="date">
</label>
<label class="item item-input">
  <span class="input-label">Email</span>
  <input type="email">
</label>
<label class="item item-input">
  <span class="input-label">Teléfono</span>
  <input type="tel">
</label>
<button class="button button-block button-positive" type="submit">Confirmar Datos</button>
  </ion-content>
</ion-view>
